.shopping-cart {
  margin: 0 0;
  background: white;
  width: 18.75rem;
  border-radius: 10px;
  padding: 10px;
}

.shopping {
  width: 18.75rem;
  background: white;
  border-radius: 10px;
  position: fixed;
  top: 11%;
  right: 5%;
  -webkit-box-shadow: -4px 5px 31px 0px rgba(66, 64, 64, 0.75);
  box-shadow: -4px 5px 31px 0px rgba(66, 64, 64, 0.75);
}

.shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}

.cart-title {
  font-weight: 700;
  padding-left: 1rem;
}

.shopping-cart-body {
  height: 3.125rem;
  padding: 3.75rem 5rem;
}

.shopping-cart ul {
  -webkit-margin-before: 1rem;
  margin-block-start: 1rem;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  padding-top: 10px;
}

.shopping-cart ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #68707d;

  font-size: 15.5px;
  width: 90%;
  margin: 10px auto;
}

.first {
  padding-right: 10px;
  width: 20%;
}

.second {
  padding-right: 10px;
  width: 70%;
}

.second p {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.thumb-shop {
  width: 2.5rem;
  border-radius: 4px;
}

.item-price {
  margin-right: 8px;
}

.dark {
  color: #1d2025;
  font-weight: 700;
  padding-left: 5px;
}

.shopping-cart .remove {
  border: none;
  background-color: white;
}

.shopping-cart .checkout {
  width: 17rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 3.4rem;
  background-color: #ff7d1a;
  border-radius: 0.7rem;
  border: none;
  margin-left: 1rem;
  font-size: 0.95rem;
  font-weight: 700;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.shopping-cart .checkout:hover {
  background-color: #faa96b;
}

.p-big {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
